@font-face {
  font-family: 'Romie'; /* or any name you want */
  src: url('assets/romie-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* main.css */
:root {
  --color-accent: rgb(0, 0, 0);
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  /* font-family: 'Arial', sans-serif; */
  overflow-x: hidden;
}

a,
p,
h5 {
  color: var(--color-accent);
  text-decoration: none;
  font-family: "Basis Grotesque Pro";
  
  text-transform: uppercase;
  font-size: 12px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em 2em;
  display: flex;
  align-items: center;
  z-index: 999;
  /* overflow-x: hidden; */
  /* margin: 0; */
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  width: 100vw;
  animation: curtainDrop 1s ease-out forwards;
  transform: translateY(-100vh);
  opacity: 0;
  
}

@keyframes curtainDrop {
    to {
        transform: translateY(0);
        border-bottom: 2px solid #000000;
        opacity: 1;
    }
}

.dropdown-content a {
  display: block;
  padding: 8px 20px;
  line-height: 1.2;
  
  letter-spacing: -0.5px;
  font-size: 4rem;
  color: #000000;
  text-decoration: none;
  transition: background 4s ease-in;
  font-family: "Romie", sans-serif;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #ffffff00;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  flex: 1;
}

.links-1,
.links-2 {
  display: flex;
  gap: 2em;
}

.links-2 {
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo a {
  font-family: 'Cherry Bomb One';
  font-size: 2rem;
  z-index: 9999999;
  font-weight: bolder;
  letter-spacing: 0.2em;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.image-section {
  width: 25vw;
  height: 100vh;
  position: relative;
  flex-shrink: 0;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.archive-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  /* font-weight: bold; */
  font-family: "Romie";
  pointer-events: none;
  mix-blend-mode: difference;
  color: white; /* fallback */
  transition: color 0.3s ease;
  z-index: 100;
}
